@model Phone

<div class="form_row">
    <label for="">
        Наименование
        <input asp-for="Name" type="text">
        <span asp-validation-for="Name" class="text-danger"></span>
    </label>
</div>

<div class="form_row">
    <label for="">
        Компания
        <input asp-for="Company" type="text">
        <span asp-validation-for="Company" class="text-danger"></span>
    </label>
</div>

<div class="form_row">
    <label for="">
        Стоимость
        <input asp-for="Price" type="text">
        <span asp-validation-for="Price" class="text-danger"></span>
    </label>
</div>
