@model Phone

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Подтверждение удаления</h2>


<form method="post" asp-action="ConfirmDelete" asp-controller="Phone" asp-route-Id="@Model.Id">

    <p>Вы действительно хотите удалить устройство @Model.Name ?</p>

    <input type="submit" value="Да"> 

    <a asp-action="Index" asp-controller="Phone">Нет</a>

</form>